/* Color Palette
#C9E4CA
#87BBA2
#55828B
#3B6064
#364958
*/

/* Global Styles */
@font-face {
	font-family: "Lobster Regular";
	src: url(../fonts/Lobster-Regular.ttf);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "Josefin Sans", sans-serif;
	margin: 0px;
}

h1, h2, p {
	font-weight: 600;
}

ul li {
	color: #364958;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0.75em;
}

a {
	color: #87BBA2;
}

a:hover {
	color: #C9E4CA;
	text-decoration: none;
}

.content-wrap {
	max-width: 950px;
	margin: 0px auto;
	padding: 15px;
	overflow: hidden;
}

.col-narrow {
	width: 30%;
	float: left;
	min-height: 50px;
}

.col-wide {
	width: 70%;
	float: left;
	padding-left: 20px;
	min-height: 50px;
}

.profile-image {
	border-radius: 50%;
}

/* Header and Footer */
header, footer {
	background: #364958;
	color: #87BBA2;
}

header h1, header h2 {
	color: #C9E4CA;
	margin: 0px;
}

header p {
	color: #87BBA2;
}

footer {
	text-align: center;
}

.contact-info a {
	padding: 10px;
	display: inline-block;
}

/* Work Experience */
.work {
	background: #C9E4CA;
}

.work h2, .work h3, .work p {
	color: #364958;
}

/* Education */
.education {
	background: #87BBA2;
	margin: 0px 0px;
}

.education h2 {
	color: #364958;
}

.education h3 {
	color: #364958;
	margin-bottom: 0px;
}

.education p {
	color: #364958;
	margin: 0px auto;
}

.tiny-font {
	font-size: 0.8em;
	font-style: italic;
}